{% load static %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Blogging | Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
      .error-msg {
            color: red;
            margin-top: 10px;
        }
  </style>
<body >
    <h1>Welcome to your blog website</h1>
    {% if login_msg %}
        <div class="error-msg">{{ login_msg }}</div>
    {% endif %}
    <div class="bef-container">
        <div class="container">
            <div class="title">Login</div>
            <div class="content">
              <form method="POST">
                {% csrf_token %}
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Username</span>
                    {{ LoginForm.username }}
                  </div>
                  <div class="input-box">
                    <span class="details">Password</span>
                    {{ LoginForm.password }}
                  </div>
                </div>
                <div class="button">
                  <input type="submit">
                </div>
                  <div style="display: flex; justify-content: space-between">
                <div>
                  Not a member? <a style="color: snow; margin-left: 2px;text-decoration: none" href="{% url 'sing-up-page' %}">Signup now</a>
                </div>
                <div>
                    <a style="text-decoration: none; color: snow;background-color: #0E2231 ; padding: 10px; border-radius: 25%" href="{% url 'timeline' %}">Home Page</a>
                </div>
                  </div>
              </form>
            </div>
        </div>
    </div>
</body>
</html>