{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen flex items-center justify-center" style="background: #edf2f7;">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

  <section style="background-color:#EADBC8; width: 80%; height: 60%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);" class="fixed top-0">
    <div class="block stat-frame flex items-start">

      <a href="#"><img class="w-36" style="border-radius: 0px 0px 24px 0px;" src="../../static/images/LogoMain.png" alt=""></a>
    </div>
  </section>
  <div style="position: fixed; display: flex; justify-content: center; overflow: auto; align-items: center; width: 65%; height: 100%; z-index: 10; margin-top: 270px; background-color: #ffffff;">
    <!-- Inner section -->
    <div style="overflow: auto; width: 100%; height: 100%; background-color: #FEFAF6; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
        <div class="flex flex-row justify-end items-center flex-wrap">

          <div class="flex justify-center  items-center top-0 max-sm:mr-6 mr-48 md:flex md:justify-between sm:flex sm:justify-between">
            <h2 class="mr-2">102 Posts</h2>
            <img
                        class="max-sm:w-8 max-sm:h-8 max-md:w-12 max-md:h-12   p-1 rounded-full h-12 w-12 lg:h-16 lg:w-16"
                        src="../image/pro-test.jpg"
                        alt="Bordered avatar"
                      />
                      <h3 class="ml-4 ">User_Name</h3>
          </div>

            <div class="relative inline-block text-left">
              <div class="relative top-0 right-5 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1" role="none">
                  <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                  <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:text-black hover:bg-gray-300" role="menuitem" tabindex="-1" id="menu-item-0">New Post</a>
                  <form method="POST" action="#" role="none">
                    <button type="submit" class="text-gray-700 hover:bg-red-500 hover:text-white block w-full px-4 py-2 text-left text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</button>
                  </form>
                </div>
              </div>
            </div>
    </div>
    <section id="post">
      <div data-aos="flip-up" class="max-w-xl mx-auto text-center mt-2">
        <h1 class="text-3xl">Posts</h1>
      </div>
      <!-- card -->
      <div class="flex justify-center md:gap-5 mt-10">
        <div
          data-aos="fade-up"
          class="bg-white shadow-xl mx-16 p-6 text-center rounded-xl h-fit"
        >
          <div
          style="border-color: #102C57;"
            class="w-fit inline flex flex-row justify-center items-center rounded-xl hover:border-2 transition ease-in-out delay-150"
          >
            <a href="#" class="li-class px-2 py-2 w-fit h-fit">
              <img
                class="w-10 h-10 rounded-full"
                src="image/pro-test.jpg"
                alt="Rounded avatar"
              />
            </a>
            <div class="w-fit inline pr-1">
              <a href="#" class="inline"> hossein.bhv </a>

            </div>

          </div>
          <p class="inline text-right">date_published</p>
          <div class="flex justify-start items-start">
            <h1 class="font-medium text-xl pb-3 pt-0 lg:px-14 text-darken">
              Online Billing, Invoicing, & Contracts
            </h1>
          </div>

          <p class="px-8 text-gray-500">
            <a href="" >
               Quam numquam atque vel, ipsum ipsam dicta aperiam facere assumenda necessitatibus dolorem autem ut eos vitae delectus in magnam laudantium unde suscipit culpa deleniti repellat nisi aspernatur aliquam et. Earum iste dolorem sint voluptas nobis. Laboriosam?
            </a>
          </p>
          <ul
            class="flex justify-start flex-wrap items-start mt-2 border-t-2 border-black"
          >
            <li>
              <a
                href="#"
                class="tag-class flex justify-center hover:scale-110 mt-2 duration-300  hover:text-white bg-gray-100 text-gray-800 text-2xs font-medium relative px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
                >sports</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
    </div></div>
</body>
</html>