{% load static %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Blogging | SignUp </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>
  <style>
      .error-msg {
            color: red;
            margin-top: 10px;
        }
  </style>
<body>
    <h1>Welcome to your blog website</h1>
    {% if user_form.errors %}
        <div class="error-msg">
            {% for field, errors in user_form.errors.items %}
                {% for error in errors %}
                    {{ error }}<br>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    {% if sign_msg %}
        <div class="error-msg">{{ sign_msg }}</div>
    {% endif %}
    <div class="bef-container">
        <div class="container">
            <div class="title">Registration</div>
            <div class="content">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">First Name</span>
                    {{ UserForm.first_name }}
                  </div>
                  <div class="input-box">
                    <span class="details">Last Name</span>
                    {{ UserForm.last_name }}
                  </div>
                  <div class="input-box">
                    <span class="details">Username</span>
                    {{ UserForm.username }}
                  </div>
                  <div class="input-box">
                    <span class="details">Email</span>
                    {{ UserForm.email }}
                  </div>
                  <div class="input-box">
                    <span class="details">Phone Number</span>
                    {{ ProfileForm.phone_number }}
                  </div>
                  <div class="input-box">
                    <span class="details">Password</span>
                    {{ UserForm.password }}
                  </div>
                  <div class="input-box">
                    <span class="details">Confirm Password</span>
                    {{ UserForm.confirm_password }}
                  </div>
                  <div class="input-box">
                    <span class="details">Birthday</span>
                    {{ ProfileForm.birth_date }}
                  </div>
                  <div class="Profile-box">
                    <span class="details">Profile picture</span>
                    {{ ProfileForm.image }}
                  </div>
                </div>
                <div class="button">
                  <input type="submit" value="Register">
                </div>

              </form>
                <div style="display: flex; justify-content: space-between">
                    <a style="text-decoration: none; color: snow" class="bg-#0E2231" href="{% url 'login-page' %}">Login</a>
                    <a style="text-decoration: none; color: snow; background-color: #0E2231 ; padding: 6px;border-radius: 30%" href="{% url 'timeline' %}">Home </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>