{% load static %}
<script src="{% static 'js/PreLoader.js' %}"></script>
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/Header.js' %}"></script>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CDN TailwindCss -->
    <script src="https://cdn.tailwindcss.com"></script>
      <link href="../../static/css/tailwind-all.css" rel="stylesheet">
      <link href="../../static/css/style.css" rel="stylesheet">

    <!-- Alpine -->

    <!-- style css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/PreLoader.css' %}">
    <link rel="stylesheet" href="{% static 'css/Header.css' %}">

  </head>
  <body>
  <button class="flex justify-center items-center"> <i  style="
  position: fixed;
bottom: 50px;
right: 50%;
width: 35px;
height: 35px;
display: none;
background-color: #3C5B6F;
color:snow ;
border-radius: 50%;" id="button" class="bi bi-arrow-up "></i></button>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

      <div id="preloader">
            <div id="status">
              <img src="../../static/images/PreLoader.gif" alt="">
            </div>
      </div>
    <!-- nav bar -->
    <section>
            <div class=''><a href="{% url 'create-post' %}">
              <button
              id="button-post"
              class="w-12 h-12 custom-bg-light text-2xl text-white font-bold rounded-full">
                  +
              </button>
            </a>
            <strong class="new-post opacity-0 pl-4 text-sm">New post</strong>
            </div>
        <header class='flex border-b bg-color-header py-4 px-4 sm:px-10 font-[sans-serif] min-h-[70px] tracking-wide relative z-50'>
            <div class='flex flex-wrap items-center gap-3 w-full'>
                <!-- Logo href -->
                <div class="block stat-frame">
                    <a href="{% url 'timeline' %}"><img src="../../static/images/Logo.ico" alt=""></a>

                </div>
              <div id="collapseMenu"
                class='max-lg:hidden lg:!block max-lg:w-full max-lg:fixed max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50'>
                <button id="toggleClose" class='lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white p-3'>
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-black" viewBox="0 0 320.591 320.591">
                    <path
                      d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                      data-original="#000000"></path>
                    <path
                      d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                      data-original="#000000"></path>
                  </svg>
                </button>

                <ul
                  class='lg:flex lg:ml-14 lg:gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50'>
                  <li class='mb-6 hidden max-lg:block'>
                    <a href="javascript:void(0)"><img src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-36' />
                    </a>
                  </li>
                  <!-- add profile pic -->
                  <li class='flex flex-row max-lg:border-b max-lg:py-3 px-3'>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'profile-page' request.user.username %}" class=" inline ">
                        <img
                          class="w-12 h-10 rounded-full"
                          src="../../media/{{ profile.image }}"
                          alt="Bordered avatar"
                        />
                      </a>
                      <a
                    href="{% url 'profile-page' request.user.username %}"
                    class="mt-4 ml-2 hover:underline"
                  >
                    {{ request.user.username }}
                  </a>
                  {% else %}
                    <div></div>
                  {% endif %}
                  </li>

                  <li class='max-lg:border-b max-lg:py-3 px-3 mt-5'>
                    <a href='{% url 'timeline' %}'
                      class='lg:hover:text-[#007bff] text-[#007bff] block font-semibold text-[15px]'>Home</a>
                  </li>

                  <li class='max-lg:border-b max-lg:py-3 px-3 mt-5'><a href='#Tags'
                      class='lg:hover:text-[#007bff] text-gray-500 block font-semibold text-[15px]'>Tags</a>
                  </li>
                  <div class="ml-12 max-lg:ml-2 mt-2 relative sm:flex sm:flex-wrap  ">
                  {% if request.user.is_authenticated %}
                    <div></div>
                  {% else %}
                  <li class='SignUp mb-6  max-lg:py-3 px-3 mt-2 inline max-lg:block max-sm:mt-2 '><a

                        class="max-lg:bg-gray-100 max-lg:mt-4 px-4 py-7 text-sm text-center bg-white text-gray-800 rounded-full sm:ml-0 hover:scale-110 hover:text-white custom-bg-color duration-300"
                        href="{% url 'sing-up-page' %}"
                        >Sign Up</a>
                  </li>
                  {% endif %}
                      <li class=' Login  max-lg:py-3 px-3 mt-2 inline max-lg:block'>
                        {% if request.user.is_authenticated %}
                        <a
                        class="max-lg:bg-gray-100 max-lg:mt-4 px-10 py-3 mt-2    w-20 h-10  text-sm text-center rounded-full md:mt-8  hover:scale-110 hover:text-white custom-bg-color duration-300"
                        href="{% url 'logout-page' %}"
                        >Logout</a>
                        {% else %}
                         <a
                            class=" px-10 py-3 mt-2 text-sm text-center bg-white text-gray-800 rounded-full md:mt-8 md:ml-4 hover:scale-110 hover:text-white custom-bg-color duration-300"
                            href="{% url 'login-page' %}">Login</a>
                        {% endif %}
                      </li>
                  </div>

                </ul>
              </div>

              <button id="toggleOpen" class='lg:hidden ml-auto'>
                <svg class="w-7 h-7" fill="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <form method="GET" action="{% url 'search' %}">
              <div class='flex lg:ml-auto max-lg:w-full'>
                <div
                  class='flex xl:w-80 max-xl:w-full bg-gray-100 px-6 py-3 rounded outline outline-transparent focus-within:outline-[#007bff] focus-within:bg-transparent'>
                  <input type='text' placeholder='Search something...' name="query" value="{{ query }}"
                    class='w-full text-sm bg-transparent rounded outline-none pr-2' />
                  <button type="submit">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px"
                        class="cursor-pointer fill-gray-400">
                        <path
                          d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
                        </path>
                      </svg>
                  </button>
                </div>
              </div>
              </form>
            </div>
        </header>
    </section>
    <!-- part 2 -->
    <!-- container -->
    <div
      class="container px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden"
    >
    </div>
      <!-- All-In-One Cloud Software. -->
      <section id="post">

      </section>
      <section>
        <div class="flex flex-row justify-center md:gap-5 mt-10 max-md:flex-col">
          <div class="p-4 border-2  w-full max-w-96  h-fit md:none">
            <div class="flex flex-col">
              <div class="UsefullLink border-b-2 border-black">
                <h4 class="text-2xl "> <i class="bi bi-link"></i> UsefullLink</h4>
                <ul class="flex flex-col">
                  <a class="text-blue-500 p-1" href="https://www.tasnimnews.com/"><li>Tasnim</li></a>
                  <a class="text-blue-500 p-1" href="https://www.mehrnews.com/"><li>Mehrnews</li></a>
                  <a class="text-blue-500 p-1" href="https://www.varzesh3.com/"><li>Varzesh3</li></a>
                  <a class="text-blue-500 p-1" href="https://www.khabaronline.ir/"><li>khabaronline</li></a>
                </ul>
              </div>
              <div class="mt-2">
                <h4 class="text-xl "><i class="bi bi-chat"></i> Most comments</h4>
                    <div class="flex justify-center flex-col items-center">
                  {% for post in top_posts %}
                        <div
                            data-aos="fade-up"
                            class="bg-white shadow-xl pl-4 w-fit mt-4 p-6 text-center rounded-xl h-fit"
                          >
                            <div
                            style="border-color: #102C57;"
                              class="w-fit inline flex flex-row justify-center items-center rounded-xl hover:border-2 transition ease-in-out delay-150"
                            >
                              <a href="{% url 'profile-page' username=post.author %}" class="li-class px-2 py-2 w-fit h-fit">
                                <img
                                  class="w-10 h-10 rounded-full"
                                  src="../../media/{{ post.author.image }}"
                                  alt="Rounded avatar"
                                />
                              </a>
                              <div class="w-fit inline pr-1">
                                <a href="{% url 'profile-page' username=post.author.user.username %}" class="inline"> {{ post.author }} </a>
                              </div>
                            </div>
                            <small class="inline text-right">{{ post.pub_date|timesince }} ago</small>
                            <div class="flex justify-start items-start">
                              <h1 class="font-medium text-xl pb-3 pt-0 lg:px-14 text-darken">
                                  {{ post.title }}
                              </h1>
                            </div>

                            <p class="px-4 text-gray-500">
                              <a href="{% url 'post-single' post_id=post.id %}">
                                  {{ post.content|safe|truncatechars:150 }}
                              </a>
                            </p>
                            <div class="items-start">
                              <i class="bi bi-chat"></i>
                                  {{ post.get_comment_count }}
                              </div>
                            <ul
                              class="flex justify-start flex-wrap items-start mt-2 border-t-2 border-black"
                            >
                                {% for tag in post.tags.all %}
                              <li>
                                <a
                                        style="background-color: snow ;color: gray"
                                  href="{% url 'search' %}?query={{ tag.name }}"
                                  class="tag-class flex justify-center hover:scale-110 mt-2 mx-4 duration-300  hover:text-white bg-white-100 text-gray-800 text-2xs font-medium relative px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
                                  >{{ tag.name }}</a
                                >
                              </li>
                            {% endfor %}
                            <li> </li>

                            </ul>
                          </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
             <div class="border-l-2 border-gray-100 max-md:border-t-2 max-md:mt-8">
                  <h1 class="text-3xl flex justify-center ">Posts</h1>
              <div
                data-aos="fade-up"
                class="w-full max-w-96 sm:w-46 bg-white shadow-xl p-6 text-center rounded-xl h-fit ml-12 max-md "
              >

            <!-- card -->
            {% for post in posts %}
            <div class="flex flex-row justify-center items-center mr-24 item-end mt-10">
              <div
                data-aos="fade-up"
                class="bg-white shadow-xl pl-4 w-fit p-6 text-center rounded-xl h-fit"
              >
                <div
                style="border-color: #102C57;"
                  class="w-fit inline flex flex-row justify-center items-center rounded-xl hover:border-2 transition ease-in-out delay-150"
                >
                  <a href="{% url 'profile-page' username=post.author %}" class="li-class px-2 py-2 w-fit h-fit">
                    <img
                      class="w-10 h-10 rounded-full"
                      src="../../media/{{ post.author.image }}"
                      alt="Rounded avatar"
                    />
                  </a>
                  <div class="w-fit inline pr-1">
                    <a href="{% url 'profile-page' username=post.author.user.username %}" class="inline"> {{ post.author }} </a>
                  </div>
                </div>
                <small class="inline text-right">{{ post.pub_date|timesince }} ago</small>
                <div class="flex justify-start items-start">
                  <h1 class="font-medium text-xl pb-3 pt-0 lg:px-14 text-darken">
                      {{ post.title }}
                  </h1>
                </div>

                <p class="px-4 text-gray-500">
                  <a href="{% url 'post-single' post_id=post.id %}">
                      {{ post.content|safe|truncatechars:150 }}
                  </a>
                </p>
              <div class="items-start">
              <i class="bi bi-chat"></i>
                  {{ post.get_comment_count }}
              </div>
                <ul
                  class="flex justify-start flex-wrap items-start mt-2 border-t-2 border-black"
                >
                    {% for tag in post.tags.all %}
                  <li>
                    <a
                            style="background-color: snow ;color: gray"
                      href="{% url 'search' %}?query={{ tag.name }}"
                      class="tag-class flex justify-center hover:scale-110 mt-2 mx-4 duration-300  hover:text-white bg-white-100 text-gray-800 text-2xs font-medium relative px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
                      >{{ tag.name }}</a
                    >
                  </li>
                {% endfor %}
                <li> </li>

                </ul>
              </div>
            </div>
            {% endfor %}
              </div>
            </div>
          </section>
          <section id="Tags">
            <div class="mt-28 border-t-2 flex flex-row justify-start items-center flex-wrap">
                {% for tag in tags %}
                <a
                  href="{% url 'search' %}?query={{ tag.name }}"

                  class="shadow-md top-4 mx-4 px-4 flex justify-center hover:-translate-y-1 hover:scale-110 mt-2 duration-300 custom-bg-color hover:text-white bg-gray-100 text-gray-800 text-2xs font-medium relative px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
                  >{{ tag.name }}</a>
            {% endfor %}
        </div>
      </section>
    <script>
        $(window).on('load',function(){
        $('#status').fadeOut();
        $('#preloader').delay(200).fadeOut('slow');
    })
    </script>
    <script>
        $(document).ready(function() {
    $(window).scroll(function() {
        if ($(this).scrollTop() > 50) {
            $("#button").css("display", "block");
        } else {
            $("#button").css("display", "none");
        }
    });

    $("#button").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
    });
  });

    </script>
    <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      // add event listeners
      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
