{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CDN TailwindCss -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Alpine -->

    <!-- style css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../static/css/style.css" />
  </head>
  <body>
    <section>
      <!-- navbar -->
      <div style="height: fit-content; background-color: #EADBC8; position: fixed;" class="mb-6 top-0 z-10 w-full text-gray-700 ">
        <div
          class=" top-0 flex  max-w-screen-xl px-8 mx-auto md:items-center md:justify-between md:flex-row"
        >
          <div  class="top-0 flex flex-row items-center justify-between py-6 w-full">
            <div class="relative md:mt-8 ">
              <div class="w-32">
                <a
                  href="#"
                  class="text-2xl pl-1 relative z-50 font-bold tracking-widest text-gray-900 rounded-lg focus:outline-none focus:shadow-outline"
                  ><span style="color: #FEFAF6;">B</span>
                   <span style="color: #DAC0A3;" >L</span>
                   <span style="color: #FEFAF6 ;">O</span>
                  <span style="color: #DAC0A3;">G</span>
                  </a>
                <svg
                  style="fill: #102C57;"
                  class=" h-11 z-40 absolute -top-2 -left-3"
                  viewBox="0 0 79 79"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M35.2574 2.24264C37.6005 -0.100501 41.3995 -0.100505 43.7426 2.24264L76.7574 35.2574C79.1005 37.6005 79.1005 41.3995 76.7574 43.7426L43.7426 76.7574C41.3995 79.1005 37.6005 79.1005 35.2574 76.7574L2.24264 43.7426C-0.100501 41.3995 -0.100505 37.6005 2.24264 35.2574L35.2574 2.24264Z"
                    fill="#102C57"
                  />
                </svg>
              </div>
            </div>
            <div class="md:hidden flex items-center">
              <button class="mobile-menu-button">
                <svg
                  class="w-6 h-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                  />
                </svg>
              </button>
            </div>
          </div>
          <nav
            class="{ 'transform md:transform-none': !open, 'h-full': open }"
            class="sticky top-0 h-0 md:h-auto flex flex-col flex-grow md:items-center pb-4 md:pb-0 md:flex md:justify-end md:flex-row origin-top duration-300 scale-y-0"
          >
            <div class="hidden md:flex items-center w-fit">
                {% if request.user.is_authenticated %}
                  <a href="#" class="li-class px-2 py-5 mt-9">
                    <img
                      class="w-12 h-10 p-1 rounded-full"
                      src="../../media/{{ profile.image }}"
                      alt="Bordered avatar"
                    />
                  </a>
                  <a
                    href="#"
                    style="color: #102C57;"
                    class=" username-header 1 mt-9 relative left-0 hover:underline"
                  >
                    {{ request.user.username }}
                  </a>
                {% else %}
                    <div></div>
                {% endif %}
              <div  class="mt-10 flex flex-col justify-center items-start pl-3">
                <a
                href="{% url 'create-post' %}"
                style="background-color: #102C57;"
                id="button-post"
                  class=" flex justify-center items-center ml-4 mt-10 w-8 h-8 custom-bg-light text-2xl text-white font-bold py-2 px-4 rounded-full"

                >
                  +
                </a>
                <p class="new-post opacity-0 pl-4 text-sm">New post</p>
              </div>

              <a
                class="li-class px-1 py-2 mt-1 text-sm bg-transparent rounded-lg md:mt-8 md:ml-4 hover:text-blue-700 focus:outline-none focus:shadow-outline"
                href="#"
                >Home</a
              >
              <a
                class="li-class px-1 py-2 mt-1 text-sm bg-transparent rounded-lg md:mt-8 md:ml-4 hover:text-blue-700 focus:outline-none focus:shadow-outline"
                href="#post"
                >Posts</a
              >
              <a
                class="li-class pr-2 py-2 mt-1 text-sm bg-transparent rounded-lg md:mt-8 md:ml-4 hover:text-blue-700 focus:outline-none focus:shadow-outline"
                href="#Tags"
                >Tags</a
              >
              <form action="{% url 'search-page' %}"
                    class="flex items-center max-w-sm mx-auto w-60">
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full mt-9">
                  <div
                    class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                  >
                    <svg
                      class="w-4 h-4 text-gray-500 dark:text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#102C57"
                      viewBox="0 0 18 20"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"
                      />
                    </svg>
                  </div>
                  <input
                    type="text"
                    id="simple-search"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search ..."
                    required
                  />
                </div>
                <button
                style="background-color: #102C57;"
                  type="submit"
                  class="button-submit mt-12 p-2.5 my-3 ms-2 text-sm hover:bg-blue-700 font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600  dark:focus:ring-blue-800"
                >
                  <svg
                    class="w-4 h-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                  </svg>
                  <span class="sr-only">Search</span>
                </button>
              </form>

              <a

                class=" px-10 py-3 mt-2 text-sm text-center bg-white text-gray-800 rounded-full md:mt-8 md:ml-4 hover:scale-110 hover:text-white custom-bg-color duration-300"
                href="{% url 'login-page' %}"
                >Login</a
              >
              <a

                class="px-10 py-3 flex justify-center w-20 mt-2 text-sm text-center bg-white text-gray-800 rounded-full md:mt-8 md:ml-4 hover:scale-110 hover:text-white custom-bg-color duration-300"
                href="{% url 'sing-up-page' %}"
                >Sign Up</a
              >
            </div>

            <div class="bg-gray-100 rounded mobile-menu hidden lg:hidden z-50">
              {% if request.user.is_authenticated %}
                  <a href="#" class="li-class px-2 py-5 mt-9 pl-4">
                    <img
                      class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                      src="../../media/{{ profile.image }}"
                      alt="Bordered avatar"
                    />
                  </a>
                  <a
                    href="#"
                    class="hover:text-blue-500 hover:underline mt-9 relative left-0 "
                  >
                      {{ request.user.username }}
                  </a>
              {% else %}
                  <div></div>
              {% endif %}

              <a
                class="block md:flex px-4 py-2 mt-2 text-sm bg-transparent rounded-lg md:mt-8 md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline"
                href="#"
                >Home</a
              >
              <a
                class="block md:flex px-4 py-2 mt-2 text-sm bg-transparent rounded-lg md:mt-8 md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline"
                href="#"
                >Careers</a
              >
              <a
                class="block md:flex px-4 py-2 mt-2 text-sm bg-transparent rounded-lg md:mt-8 md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline"
                href="#"
                >Blog</a
              >
              <a
                class="block md:flex px-4 py-2 mt-2 text-sm bg-transparent rounded-lg md:mt-8 md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline"
                href="#"
                >About Us</a
              >
              <a
                class="block md:flex px-10 py-3 mt-2 text-sm text-center bg-white text-gray-800 rounded-full md:mt-8 md:ml-4 hover: transform: scale(.5)"
                href="#"
                >Login</a
              >
              <a
                class="block md:flex px-10 py-3 mt-2 text-sm text-center bg-yellow-500 text-white rounded-full md:mt-8 md:ml-4"
                href="#"
                >Sign Up</a
              >
            </div>
          </nav>
        </div>
      </div>
    </section>
    <!-- part 2 -->
    <!-- container -->
    <div
      class="container px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden"
    >
    </div>
      <!-- All-In-One Cloud Software. -->
      <section id="post">
        <div data-aos="flip-up" class="max-w-xl mx-auto text-center mt-24">
          <h1 class="text-3xl">Posts</h1>
        </div>
      {% for post in posts %}
        <!-- card -->
        <div class="flex flex-row justify-center item-center  mt-10">
          <div
            data-aos="fade-up"
            class="bg-white shadow-xl p-6 text-center rounded-xl h-fit"
          >
            <div
            style="border-color: #102C57;"
              class="w-fit inline flex flex-row justify-center items-center rounded-xl hover:border-2 transition ease-in-out delay-150"
            >
              <a href="#" class="li-class px-2 py-2 w-fit h-fit">
                <img
                  class="w-10 h-10 rounded-full"
                  src="../../media/{{ post.author.image }}"
                  alt="Rounded avatar"
                />
              </a>
              <div class="w-fit inline pr-1">
                <a href="#" class="inline"> {{ post.author }} </a>
              </div>
            </div>
            <small class="inline text-right">Published on {{ post.pub_date }}</small>
            <div class="flex justify-start items-start">
              <h1 class="font-medium text-xl pb-3 pt-0 lg:px-14 text-darken">
                  {{ post.title }}
              </h1>
            </div>

            <p class="px-4 text-gray-500">
              <a href="{% url 'post-single' post_id=post.id %}">
                  {{ post.content|safe }}
              </a>
            </p>
            <ul
              class="flex justify-start flex-wrap items-start mt-2 border-t-2 border-black"
            >
                {% for tag in post.tags.all %}
              <li>
                <a
                        style="background-color: snow ;color: gray"
                  href="#"
                  class="tag-class flex justify-center hover:scale-110 mt-2 mx-4 duration-300  hover:text-white bg-white-100 text-gray-800 text-2xs font-medium relative px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
                  >{{ tag.name }}</a
                >
              </li>
            {% endfor %}
            <li> </li>

            </ul>
          </div>
        </div>
      {% endfor %}
      </section>
        <section id="Tags">
        <div class="mt-28 border-t-2 flex flex-row justify-start items-center flex-wrap">
            {% for tag in tags %}
            <a
              href="#"

              class="shadow-md top-4 mx-4 px-4 flex justify-center hover:-translate-y-1 hover:scale-110 mt-2 duration-300 custom-bg-color hover:text-white bg-gray-100 text-gray-800 text-2xs font-medium relative px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
              >{{ tag.name }}</a>
            {% endfor %}
        </div>
      </section>

    <footer class="mt-32" style="background-color: rgba(37, 38, 65, 1)">
      <div class="max-w-lg mx-auto">
        <div
          class="flex py-12 justify-center text-white items-center px-20 sm:px-36"
        >
          <div class="relative">
            <h1 class="font-bold text-xl pr-5 relative z-50">Skilline</h1>
            <svg
              class="w-11 h-11 absolute -top-2 -left-3 z-40"
              viewBox="0 0 79 79"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M35.9645 2.94975C37.9171 0.997129 41.0829 0.997127 43.0355 2.94975L76.0502 35.9645C78.0029 37.9171 78.0029 41.0829 76.0503 43.0355L43.0355 76.0502C41.0829 78.0029 37.9171 78.0029 35.9645 76.0503L2.94975 43.0355C0.997129 41.0829 0.997127 37.9171 2.94975 35.9645L35.9645 2.94975Z"
                stroke="#26C1F2"
                stroke-width="2"
              />
            </svg>
          </div>
          <span class="border-l border-gray-500 text-sm pl-5 py-2 font-semibold"
            >Virtual Class for Zoom</span
          >
        </div>
        <div class="text-center pb-16 pt-5">
          <label class="text-gray-300 font-semibold"
            >Subscribe to get our Newsletter</label
          >
          <div
            class="px-5 sm:px-0 flex flex-col sm:flex-row sm:space-x-3 space-y-3 sm:space-y-0 justify-center mt-3"
          >
            <input
              type="email"
              placeholder="Your Email"
              class="rounded-full py-2 pl-5 bg-transparent border border-gray-400"
            />
            <button
              type="submit"
              class="text-white w-40 sm:w-auto mx-auto sm:mx-0 font-semibold px-5 py-2 rounded-full"
              style="
                background: linear-gradient(
                  105.5deg,
                  #545ae7 19.57%,
                  #393fcf 78.85%
                );
              "
            >
              Subscribe
            </button>
          </div>
        </div>
        <div class="flex items-center text-gray-400 text-sm justify-center">
          <a href="" class="pr-3">Careers</a>
          <a href="" class="border-l border-gray-400 px-3">Privacy</a>
          <a href="" class="border-l border-gray-400 pl-3"
            >Terms & Conditions</a
          >
        </div>
        <div class="text-center text-white">
          <p class="my-3 text-gray-400 text-sm">
            &copy; 2021 Class Technologies Inc.
          </p>
          <div class="py-3 tracking-wide">
            <p>Code By <span class="font-semibold">mhaecal</span></p>
            <p>UI/UX By <span class="font-semibold">Irvan Moses</span></p>
          </div>
        </div>
      </div>
    </footer>
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />

    <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      // add event listeners
      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
